
.vs
*.vsidx
.vs/GangolfMod/FileContentIndex/2546c573-fff7-49ab-9c09-4b5ee07a038d.vsidx
.vs/GangolfMod/FileContentIndex/3bfa1e1d-c943-43ca-bc36-d867c8f781a7.vsidx
.vs/GangolfMod/FileContentIndex/648d595a-319e-477e-b70e-bad394a86022.vsidx
.vs/GangolfMod/FileContentIndex/6eaa91cb-0cd6-4ecd-977f-a0a2774f1051.vsidx
.vs/GangolfMod/FileContentIndex/read.lock
.vs/GangolfMod/v17/.wsuo
.vs/GangolfMods/FileContentIndex/4063f3ab-2159-4c20-9044-9b5118443730.vsidx
.vs/GangolfMods/FileContentIndex/7176c853-9bfb-4ba6-9c45-ecc03a4c5052.vsidx
.vs/GangolfMods/FileContentIndex/d161845c-62f9-4458-bead-14d15d34252e.vsidx
.vs/GangolfMods/FileContentIndex/deeb177a-bb57-4ed1-99eb-9a1f53b23759.vsidx
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/GangolfMod/FileContentIndex/2546c573-fff7-49ab-9c09-4b5ee07a038d.vsidx
.vs/GangolfMod/FileContentIndex/3bfa1e1d-c943-43ca-bc36-d867c8f781a7.vsidx
.vs/GangolfMod/FileContentIndex/648d595a-319e-477e-b70e-bad394a86022.vsidx
.vs/GangolfMod/FileContentIndex/6eaa91cb-0cd6-4ecd-977f-a0a2774f1051.vsidx
.vs/GangolfMod/FileContentIndex/read.lock
.vs/GangolfMod/v17/.wsuo
.vs/GangolfMods/FileContentIndex/4063f3ab-2159-4c20-9044-9b5118443730.vsidx
.vs/GangolfMods/FileContentIndex/7176c853-9bfb-4ba6-9c45-ecc03a4c5052.vsidx
.vs/GangolfMods/FileContentIndex/d161845c-62f9-4458-bead-14d15d34252e.vsidx
.vs/GangolfMods/FileContentIndex/deeb177a-bb57-4ed1-99eb-9a1f53b23759.vsidx
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
